@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */

body{
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    height: calc(100vh - 100px);
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 250px;
    height: 100%;
    padding: 30px 20px 10px ;
    overflow-y: hidden;
}

main {
    width: calc(100% - 250px);
    background-color: #141922;
    position: relative;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
main::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 

footer {
    height: 100px;
    background-color: blueviolet;
    z-index: 2;
}

/* nav */

#logo img {
    width: 140px;
    padding-left: 20px;
}

#logo-small {
    display: none;
}

/*  navigazione principale  */
nav ul {
    list-style-type: none;
    margin: 20px 0;
}

nav ul li {
    font-size: 1em;
    padding: 8px 0;
}

nav a {
    text-decoration: none;
    color: grey;
}

#crea-playlist a:hover ,
nav a:hover {
    color: white;
} 

li i {
    font-size: 1.7em;
    margin-right: 7px;
}

#home {
    border-left: 2px solid #adff2f ;
    margin-left: -20px ;
    padding-left: 18px;
}
/*  /navigazione principale  */

/* navigazine playlist */

nav h2 {
    color: white;
    font-size: 1em;
}

#lista-playlist {
    overflow-y: auto;
    color: grey;
    min-height: 30px;
    flex-grow: 2;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#lista-playlist::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#lista-playlist {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 

#crea-playlist a {
    margin: 10px 0;
    color: grey;
    display: flex;
    align-items: center;
}

#crea-playlist i {
    font-size: 2.5em;
    margin-right: 8px;
}

/* /navigazine playlist */


/* profilo */
#container-profilo {
    height: 70px;
   /*  position: absolute; */
    bottom: 10px;
    width: 80%;
    color: grey;
}

#container-profilo div:first-child {
    font-size: .7em;
    padding-bottom: 7px;
}

#container-profilo div:last-child {
    font-weight: bold;
    color: white;
    padding: 10px 0;
    border-top: grey solid 1px;
}

.fa-user-circle {
    background-color: grey;
    border-radius: 50%;
    font-size: 1.5em;
}
/* /profilo */


/* version 552px nav */
@media all and (max-width:552px) {
    
    #logo,
    nav h2,
    #crea-playlist,
    #lista-playlist,
    span {
        display: none;
    }

    #logo-small {
        display: block;
    }

    #logo-small img {
        width: 2em;
    }
    nav {
        width: 50px;
        padding: 0;
        text-align: center;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        margin: 3px 0;
    }

    nav i {
        margin: 0;
    }

    nav ul li {
        padding: 3px 0;
    }

}
/* version 552px nav */



/* parte principale */

/* bottone upgrade */
#container-upgrade {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 250px);
    z-index: 1;

}

#btn {
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 20px;
}

#btn a {
    text-decoration: none;
    color: white;
}

#container-upgrade:hover #btn {
    transform: scale(1.1);
}
/* /bottone upgrade */


/* barra di navigazione */
#barra-navigazione-main  {
    margin: 110px auto 0;
}

#barra-navigazione-main ul {
    margin: 30px auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#barra-navigazione-main ul li {
    list-style-type: none;
    padding: 10px 0;
}

#barra-navigazione-main ul li a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: .9em;
}

#barra-navigazione-main a:hover {
    color: white;
}

#linea {
    border: 1px solid #adff2f;
    width: 38px;
    margin: 2px auto;
}
/* /barra di navigazione */

/* playlist */

#centratura {
    margin: 40px 25px;
}

main h2 {
    color: white;
    font-size: 1.4em;
}

.row {
    display: flex;
}

.container-titolo {
    margin-top: 50px;
}

.container-titolo .subtitle {
    text-align: left;
}

.container-img {
    position: relative;
}

.layover {
    display: none;
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.layover i {
    font-size: 4.5em;
    color: white;
}

.playlist:hover .layover {
    display: flex;
}


.playlist {
    width: calc((100% - 120px ) / 6) ;
    margin: 20px 20px 20px 0; 
}

.playlist img {
    width: 100%;
}

.descrizione-playlist {
    margin: 20px 0 ;
    max-width: 230px;
}

.title-songs {
    color: white;
    font-size: .9em;
    margin: 10px 0 ;
    text-align: center;
}

.subtitle {
    color: grey;
    text-align: center;
    font-size: .7em;
    display: block;
    margin: 10px 0 0;
}
/* /playlist */


/* terza fila immagini tonde */

.container-img.tonda {
    border-radius: 50%;
}

.container-img.tonda img {
    border-radius: 50%;
}

.container-img.tonda .layover {
    border-radius: 50%;
}
/* /terza fila immagini tonde */



/* versione md 878px */
@media all and (max-width:878px) {

    /* barra di navigazione */
    #barra-navigazione-main ul {
        margin: 30px auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    /* playlist fila 1 */
    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .playlist img {
        min-width: 50px;
        max-width: 120px;
    }

    .descrizione-playlist {
        margin: 20px 0 0;
        max-width: 120px;
    }

    .playlist {
        width: calc((100% - 40px) / 4 );
        margin: 20px 10px 0 0; 
    }
    /* /playlist fila 1 */

}
/* /versione md 878px */


/* versione s 639px */
@media all and (max-width:639px) {
   
    /* playlist fila 1 */
    .playlist img {
        min-width: 120px;
        max-width: 159px;
    }

    .descrizione-playlist {
        margin: 20px 0 0;
        max-width: 159px;
    }

    .playlist {
        width: calc((100% - 20px) / 2 );;
        margin: 20px 10px 0 0; 
    }
    /* /playlist fila 1 */

}
/* /versione s 639px */


/* versione xs 552px */
@media all and (max-width:552px) {
    
    main {
        width: calc(100% - 50px);
    }

    #container-upgrade {
        width: calc(100% - 50px);
    
    }

    .playlist img {
        max-width: 220px;
    }

}
/* /versione xs 552px */

/* /barra di navigazione */


/* footer */


/* /footer */
